h1{
	padding:30px 10px 10px 10px;
}
#pic{
	padding:10px 10px 10px 10px;
}

#temp{
	padding:10px 10px 10px 10px;
}

#desc{
	padding:10px 10px 10px 10px;
}

.box{
	text-align: center;
}

.imp{
	text-align: center;
	padding:30px 30px 30px 30px;
}

.temper{
	font-size:3rem;
}

.navbar-dark{
	background-color:black;
}

.jumbotron{
	background: #2e2f34;
  color: #fff;
}

#wes{
    font-color:white;
}

body{
	background: #2e2f34;
  color: #fff;
}