h1{
	padding:10px 10px 10px 10px;
}
#pic{
	padding:10px 10px 10px 10px;
}

#temp{
	padding:10px 10px 10px 10px;
}

#desc{
	padding:10px 10px 10px 10px;
}

.box{
	text-align: center;
}

.imp{
	text-align: center;
	padding:30px 30px 30px 30px;
}